@model IEnumerable<KhoaLuanSteam.Models.THONGTINSANPHAM>

<div class="row featured__filter">
    @foreach (var item in Model)
    {


        if (@item.MaLoai == 1)
        {
        
            <div class="col-lg-3 col-md-4 col-sm-6 mix steammn">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg product__discount__item__pic">
                        <a href="/Product/ChiTietSP/@item.MaSanPham">
                            <img src="/HinhAnhSach/@item.HinhAnh" alt="@item.TenSanPham" title="@item.TenSanPham">
                        </a>
                        @if (@item.GiamGia > 0){
                            <div class="product__discount__percent">-@item.GiamGia%</div>
                        }
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="/Cart/ThemGioHang/?id=@item.MaSanPham&soluong=1"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="/Product/ChiTietSP/@item.MaSanPham">@(item.TenSanPham.Length > 26 ? item.TenSanPham.Substring(0, 22) + "..." : item.TenSanPham)</a></h6>
                        <span style="display: flex;justify-content: center;">
                            @* <h5>@item.GiaSanPham.Value.ToString("N0") đ</h5>
                            @if (@item.GiamGia > 0){
                                @Html.Action("giasachgiam", "Product", new { @MaSanPham = @item.MaSanPham })
                                } *@

                            @if (@item.GiamGia <= 0)
                                        {
                                            <h5>
                                                @item.GiaSanPham.Value.ToString("N0") đ
                                            </h5>
                                        }else{
                                            <h5>
                                                @Html.Action("giasachgiam", "Product", new { @MaSanPham = @item.MaSanPham })
                                            </h5>
                                            <span style="text-decoration: line-through; color:#b2b2b2; font-size: 15px; margin-left: 10px;">
                                                @item.GiaSanPham.Value.ToString("N0") đ
                                            </span>
                                        }   
                        </span>
                    </div>

                </div>
            </div>
        }
        if (@item.MaLoai == 2)
        {
        
            <div class="col-lg-3 col-md-4 col-sm-6 mix steam1">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg product__discount__item__pic">
                        <a href="/Product/ChiTietSP/@item.MaSanPham">
                            <img src="/HinhAnhSach/@item.HinhAnh" alt="@item.TenSanPham" title="@item.TenSanPham">
                        </a>
                        @if (@item.GiamGia > 0){
                            <div class="product__discount__percent">-@item.GiamGia%</div>
                        }
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="/Cart/ThemGioHang/?id=@item.MaSanPham&soluong=1"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="/Product/ChiTietSP/@item.MaSanPham">@(item.TenSanPham.Length > 26 ? item.TenSanPham.Substring(0, 22) + "..." : item.TenSanPham)</a></h6>
                        <span style="display: flex;justify-content: center;">
                            @if (@item.GiamGia <= 0)
                                        {
                                            <h5>
                                                @item.GiaSanPham.Value.ToString("N0") đ
                                            </h5>
                                        }else{
                                            <h5>
                                                @Html.Action("giasachgiam", "Product", new { @MaSanPham = @item.MaSanPham })
                                            </h5>
                                            <span style="text-decoration: line-through; color:#b2b2b2; font-size: 15px; margin-left: 10px;">
                                                @item.GiaSanPham.Value.ToString("N0") đ
                                            </span>
                                        } 
                        </span>
                    </div>

                </div>
            </div>
        }
        if (@item.MaLoai == 3)
        {
        
            <div class="col-lg-3 col-md-4 col-sm-6 mix steam2">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg product__discount__item__pic">
                        <a href="/Product/ChiTietSP/@item.MaSanPham">
                            <img src="/HinhAnhSach/@item.HinhAnh" alt="@item.TenSanPham" title="@item.TenSanPham">
                        </a>
                        @if (@item.GiamGia > 0){
                            <div class="product__discount__percent">-@item.GiamGia%</div>
                        }
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="/Cart/ThemGioHang/?id=@item.MaSanPham&soluong=1"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="/Product/ChiTietSP/@item.MaSanPham">@(item.TenSanPham.Length > 26 ? item.TenSanPham.Substring(0, 22) + "..." : item.TenSanPham)</a></h6>
                        <span style="display: flex;justify-content: center;">
                            @if (@item.GiamGia <= 0)
                                        {
                                            <h5>
                                                @item.GiaSanPham.Value.ToString("N0") đ
                                            </h5>
                                        }else{
                                            <h5>
                                                @Html.Action("giasachgiam", "Product", new { @MaSanPham = @item.MaSanPham })
                                            </h5>
                                            <span style="text-decoration: line-through; color:#b2b2b2; font-size: 15px; margin-left: 10px;">
                                                @item.GiaSanPham.Value.ToString("N0") đ
                                            </span>
                                        } 
                        </span>
                    </div>

                </div>
            </div>
        }
        if (@item.MaLoai == 4)
        {        
            <div class="col-lg-3 col-md-4 col-sm-6 mix steam3">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg product__discount__item__pic">
                        <a href="/Product/ChiTietSP/@item.MaSanPham">
                            <img src="/HinhAnhSach/@item.HinhAnh" alt="@item.TenSanPham" title="@item.TenSanPham">
                        </a>
                        @if (@item.GiamGia > 0){
                            <div class="product__discount__percent">-@item.GiamGia%</div>
                        }
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="/Cart/ThemGioHang/?id=@item.MaSanPham&soluong=1"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="/Product/ChiTietSP/@item.MaSanPham">@(item.TenSanPham.Length > 26 ? item.TenSanPham.Substring(0, 22) + "..." : item.TenSanPham)</a></h6>
                        <span style="display: flex;justify-content: center;">
                            @if (@item.GiamGia <= 0)
                                        {
                                            <h5>
                                                @item.GiaSanPham.Value.ToString("N0") đ
                                            </h5>
                                        }else{
                                            <h5>
                                                @Html.Action("giasachgiam", "Product", new { @MaSanPham = @item.MaSanPham })
                                            </h5>
                                            <span style="text-decoration: line-through; color:#b2b2b2; font-size: 15px; margin-left: 10px;">
                                                @item.GiaSanPham.Value.ToString("N0") đ
                                            </span>
                                        } 
                        </span>
                    </div>

                </div>
            </div>
        }
        }
    </div>